<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="stylesheet" href="/pico.indigo.min.css" />
    <.live_title default="Glerl.Web" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/default.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>Chicago Wind Observations</strong></li>
        </ul>
        <ul>
          <li>
            <%= if @nav == :current_conditions do %>
              <.link href={~p"/"} role="button" class="outline">Current Conditions</.link>
            <% else %>
              <.link href={~p"/"}>Current Conditions</.link>
            <% end %>            
          </li>
          <li>
            <%= if @nav == :historical_conditions do %>
              <.link href={~p"/historical-conditions"} role="button" class="outline">Historical Conditions</.link>
            <% else %>
              <.link href={~p"/historical-conditions"}>Historical Conditions</.link>
            <% end %>  
          </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      {@inner_content}
    </main>

    <footer class="container">
      <small>
         <.link href={~p"/about"}>About this Site</.link> | <a href="https://www.glerl.noaa.gov/metdata/chi/">Official Glerl Site</a>
      </small>
    </footer>
  </body>
</html>

