<h2>Conditions for the <%= @sailing_session %> session on <%= @for_date %>.</h2>

<div style="margin-left: 0rem;">
  <.wind_speed_plot data={@data}/>
</div>

<div style="margin-left: 0rem;">
  <.wind_direction_plot data={@data}/>
</div>

<div style="max-width: 33%">
    <.historical_conditions_form sailing_session={@sailing_session} for_date={@for_date} />
</div>
