<.my_new_thing fuck="shit"/>
<ul>
  <li>Temp: <%= @data.temp_c %></li>
  <li>Speed: <%= @data.speed %></li>
  <li>Gusts: <%= @data.gusts %></li>
  <li>Direction: <%= @data.direction %></li>
  <li>Humidity: <%= @data.humidity %></li>
  <li>Last Updated: <%= @data.timestamp %></li>
</ul>
