<link phx-track-static rel="stylesheet" href={~p"/assets/home.css"} />
<.flash_group flash={@flash} />
<h3>Hello from home.html.heex</h3>
<ul>
  <li>Temp: <%= @data.temp_c %></li>
  <li>Speed: <%= @data.speed %></li>
  <li>Gusts: <%= @data.gusts %></li>
  <li>Direction: <%= @data.direction %></li>
  <li>Humidity: <%= @data.humidity %></li>
  <li>Last Updated: <%= @data.timestamp %></li>
</ul>
